{{#if courses}}
    {{#each courses}}
        <p>{{this.title}}</p>
        <p>{{this.description}}</p>
        <p>{{this.teacherName}}</p>
        {{#each this.students}}
            <p>{{this.name}}</p>
            <p>{{this.lastName}}</p>
        {{/each}}
    {{/each}}
{{else}}
    <p>No hay cursos asociados</p>
{{/if}}
<a href="/student"> IR a Mi perfil </a>